@use 'colors' as *;
.express {

    &_wrapper {
        display: flex;
        margin-left: 5%;
        gap: 1%;
    }

    &__cards {
        width: 23%;
        height: 20%;
        background-color: white;

        &__title {
            text-align: left;
            margin-left: 10px;
        }

        &__price {
            text-align: left;
            margin-left: 10px;
        }
        p:hover {
            color: $pink;
        }
    }

    &__image img {
        width: 100%;
        margin-right: 10px;
        padding: 10px;
    }

    span.tag  {
        position: absolute;
        top: 202%;
        left: 22%;
        color: white;
        background-color: $pink;
        border-radius: 3px;
        padding: 0 3px;
    }
}
.bestcakes {

    &_wrapper {
        display: flex;
        margin-left: 5%;
        gap: 1%;
    }

    &__cards {
        width: 23%;
        height: 20%;
        background-color: white;

        &__image img {
            width: 100%;
            padding: 10px;
        }

        &__title {
            text-align: left;
            padding: 4px;
            text-decoration: none;
            margin-left: 10px;

            p:hover {
                color: $pink;
            }
        }

        &__price {
            text-align: left;
            padding: 2px;
            margin-left: 10px;
        }
    }
}